# Fichier htaccess du projet

# Definition des charsets par defaut
#AddDefaultCharset utf-8
#AddCharset utf-8 .css
#AddCharset utf-8 .js

# Desactive les magic_quotes
<IfModule php5_module>
  php_value magic_quotes_gpc 0
  php_value magic_quotes_runtime 0
  php_value magic_quotes_sybase 0
</IfModule>

# Permet les regles de reecritures
Options +FollowSymLinks

# Reecriture des URL
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|png|css|xls|doc|pdf|csv)$ index.php [NC,L]

